.my-navigation-background{
    background-color: lightgray !important;
}

.selected-nav{
    font-weight: 800;
    color: lightseagreen;
    text-underline-position: auto;
    border: 2px solid;
    border-radius: 15px;
}