/* You can add global styles to this file, and also import other style files */
.border-form{
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
}

.margin-top{
    margin-top:20px;
}

.button-space{
    margin-right: 5px;
}

.error-info{
    color:red;
    font-size:12px
}

.highlight{
    background-color: yellowgreen;
}