<h4>Lista studentów</h4>

<div *ngIf="isDataReady == false" class="spinner-border text-success" 
    style="top:50%;left:50%;position:absolute"
    role="status">
    <span class="visually-hidden">Loading...</span>
</div>


<!-- Event binding na zdarzenie click -->
<button (click)="changeStudentsShowing()" class="btn btn-secondary">{{buttonText}}</button>

<!-- !isErrorOccured to jest to samo isErrorOccured == true -->
<div *ngIf="isErrorOccured" class="alert alert-danger" style="margin-top:10px">
    Wystąpił błąd w pobieraniu danych
</div>

<!-- Jeżeli isTableVisble == true to pokaż tabelę -->
<table *ngIf="isTableVisible" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię i nazwisko</th>
            <th>Email</th>
            <th>Numer telefonu</th>
        </tr>
    </thead>
    <tbody>
        <!-- [ngClass] = do tworzenia warunków dla konkretnych styli -->
        <!-- *ngFor - pętla foreach  -->
        <tr [ngClass]="{'table-danger': student.isDeleted,
        'table-warning': student.id == 4}" *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.fullName}}</td>
            <td>{{student.email}}</td>
            <td>{{student.phone}}</td>
        </tr>
    </tbody>
</table>

<!-- Jeżeli isTableVisible == false - pokaż ten fragment -->
<ng-container *ngIf="isTableVisible==false">
    <div *ngFor="let student of students">
        <h2>{{student.fullName}}</h2>
        <p>{{student.email}}</p>
        <!-- *ngIf - klasyczna instrukcja warunkowa -->
        <p *ngIf="student.isDeleted" style="color:red;font-size:12px">
            Usunięty student!</p>
    </div>
</ng-container>