<h4
appHighlight [color]="'red'"
>Lista studentów</h4>

<div *ngIf="isDataReady == false" class="spinner-border text-success" style="top:50%;left:50%;position:absolute"
    role="status">
    <span class="visually-hidden">Loading...</span>
</div>


<!-- Event binding na zdarzenie click -->
<button [color]="'rgb(122,122,0)'"
appHighlight
(click)="changeStudentsShowing()" class="btn btn-secondary">{{buttonText}}</button>

<!-- Input do wyszukiwania -->
<div class="col-5" style="margin-top:10px">
    <input placeholder="Wyszukaj po frazie" 
    (keyup)="search()" [(ngModel)]="searchPhrase"
    name="search_input"
    type="text" class="form-control" />
</div>

<!-- !isErrorOccured to jest to samo isErrorOccured == true -->
<div *ngIf="isErrorOccured" class="alert alert-danger" style="margin-top:10px">
    Wystąpił błąd w pobieraniu danych
</div>

<div style="margin-top:10px" 
*ngIf="removedStudent"
class="alert alert-danger">
   Usunięto studenta {{removedStudent}} 
</div>

<!-- Jeżeli isTableVisble == true to pokaż tabelę -->
<table *ngIf="isTableVisible" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię i nazwisko</th>
            <th>Email</th>
            <th>Numer telefonu</th>
            <th>Operacje</th>
        </tr>
    </thead>
    <tbody>
        <!-- [ngClass] = do tworzenia warunków dla konkretnych styli -->
        <!-- *ngFor - pętla foreach  -->
        <tr [ngClass]="{'table-danger': student.isDeleted,
        'table-warning': student.id == 4}" *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td [innerHTML]="student.fullName | highlightsearched : searchPhrase"></td>
            <td [innerHTML]="student.email | highlightsearched : searchPhrase"></td>
            <td>{{student.phone}}</td>
            <td>
                <a [routerLink]="'/edit-student/' 
                + student.id" class="btn btn-warning">
                Edytuj</a>
                <button (click)="delete(student.id)" style="margin-left:10px" class="btn btn-danger">
                    Usuń
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Jeżeli isTableVisible == false - pokaż ten fragment -->
<ng-container *ngIf="isTableVisible==false">
    <div *ngFor="let student of students">
        <h2 [innerHTML]="student.fullName | highlightsearched : searchPhrase"></h2>
        <p [innerHTML]="student.email | highlightsearched: searchPhrase"></p>
        <!-- *ngIf - klasyczna instrukcja warunkowa -->
        <p *ngIf="student.isDeleted" style="color:red;font-size:12px">
            Usunięty student!</p>
        <a [routerLink]="'/edit-student/' + student.id" 
        class="btn btn-warning">Edytuj</a>
        <button style="margin-left:10px" (click)="delete(student.id)"
        class="btn btn-danger">Usuń</button>
    </div>
</ng-container>